.env.*.php
.env.php
Thumbs.db
/bootstrap/compiled.php
/vendor
.DS_Store
.vagrant
.idea

app/storage/cache/*
app/storage/views/*
app/storage/sessions/*
app/storage/debugbar/*
app/storage/logs/*
app/config/production/database.php
use-cases/f5987289f961fe2beef0082fd96becfb5fdf1f37

_ide_helper.php

# Basset development collections
/public/assets/compiled/
/public/assets/compiled/
/public/uploads/

#vagrant
VagrantFile
.vagrant
.idea
install.sh

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/

# Packages
_ide_helpers.php

routes.txt

Thumbs.db
