# Laravel
/bootstrap/compiled.php
bootstrap/start.php
/vendor/

# Configuration
/app/config/local/
/app/config/staging/

#/app/config/production
/app/storage/

# Basset development collections
/public/assets/compiled/
/public/assets/compiled/
/public/uploads/

#vagrant
VagrantFile
.vagrant
.idea
install.sh

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/

# Packages
_ide_helpers.php

routes.txt

Thumbs.db