.panel-heading {
    background-image: url("../images/SlidesActiveeng.png") !important;
    background-position:left !important;
}
#footer {
     text-align: right !important;
 }
#socialicons {text-align:left !important;}

#statistic_feed {
    float: right;
    padding:10px;
    display:block;
}
.navbar-default .navbar-nav>li>a {
    background-image: url("../images/MenuInactiveen.png");
}
.navbar-default .navbar-nav>li>a:hover {
    background-image: url("../images/MenuActiveen.png");
}