.panel-heading {
    background-image: url("../images/SlidesActiveeng.png") !important;
    background-position:left !important;
}
#footer {
     text-align: right !important;
 }
#socialicons {text-align:left !important;}